
<!DOCTTYPE html>
<html lang = "en" style = "">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div style="color:red; font-size:90%; text-align: center">
ATTENTION: Unemployment Insurance Claimants - Unemployment claim fillings and weekly requests for payment no longer available. Please visit VEC.</div>

    <div>
        <img src="images/backgroundimage.jpg" alt="background" width="1500" height="350"/>
    </div>

    <div style="color:white; text-align: center" class="d-grid gap-2">
        <button class="btn btn-primary .btn-xl {
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            width: 20%;
            }" type="button">Find a Job</button>
        <button class="btn btn-primary .btn-xl {
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            width: 20%;
            }" type="button">Hire a Candidate</button>
        <button class="btn btn-primary .btn-xl {
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            width: 20%;
            }" type="button">Apply for Employment</button>
    </div>
    <div>
        <img src="images/stats.png" width="1500" height="350"/>
    </div>
</body>



</html>